* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "VAG World";
  src: url("../fonts/VAG World.ttf") format("truetype");
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.centerBlock {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.widthBlock {
  width: 1300px;
  height: 100%;
}

.section {
  width: 100%;
}

body {
  overflow-x: hidden;
}

/* --------------------------------------- */

header {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 60px 140px;
}

.layer1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header_top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999999;
}

.header_top__menu {
  position: fixed;
  top: 60px;
  right: 140px;
  background-color: #7cd1cc;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999999;
  box-shadow: 0 0 10px #00000040;
  transition: all 0.5s ease-in-out;
}

.header_bottom {
  position: relative;
  margin-top: -70px;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  align-items: center;
  width: 100%;
}

.header_bottom__left {
  overflow: hidden;
  border-radius: 50%;
  width: 600px;
  height: 600px;
  /* position: relative; */
  /* left: 50%;
  top: 50%; */
  transition: transform 0.5s ease;
}

.header_bottom__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-20px, -50px) scale(1.5);
  /* position: absolute; */
}

.header_bottom__right {
  width: 45%;
}

.header_bottom__right {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.header_bottom__right___title {
  font-family: VAG World;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
}

.header_bottom__right___button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: VAG World;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #7cd1cc;
  border-radius: 50px;
  padding: 10px;
  width: 450px;
  text-transform: uppercase;
  cursor: pointer;
}

/* ------------------------------------ */

.franchise {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: -50px;
}

.franchise_elem__info {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 55px;
  gap: 60px;
  text-transform: uppercase;
}

.franchise_elem__info___button {
  text-transform: uppercase;
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: VAG World;
  font-size: 20px;
  font-weight: 700;
  line-height: 40.08px;
  color: #fff;
  background-color: #00d3de;
  border-radius: 50px;
  cursor: pointer;
}

.franchise_elem__info___title {
  font-family: VAG World;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  color: #fff;
}

.franchise_elem {
  overflow: hidden;
  border-radius: 50%;
  width: 360px;
  height: 360px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease;
}

.franchise_elem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.element1 {
  /* position: absolute;
  top: 260px;
  left: 350px; */
  width: 360px;
  height: 360px;
  transform: translate(calc(-50% - 625px), calc(-50% - 200px));
}

.element2 {
  /* position: absolute;
  top: 880px;
  left: 480px; */
  width: 330px;
  height: 330px;
  transform: translate(calc(-50% - 420px), calc(-50% + 400px));
}

.element3 {
  width: 450px;
  height: 450px;
  transform: translate(calc(-50% - 850px), calc(-50% + 250px));
}

.element4 {
  background: #b7f2ef;
  width: 115px;
  height: 115px;
  transform: translate(calc(-50% - 500px), calc(-50% + 100px));
}

.element5 {
  background: #b7f2ef;
  width: 115px;
  height: 115px;
  transform: translate(calc(-50% - 950px), calc(-50% - 300px));
}

.element6 {
  width: 720px;
  height: 720px;
}

.element7 {
  /* position: absolute;
  top: 250px;
  left: 1460px; */
  width: 360px;
  height: 360px;
  transform: translate(calc(-50% + 550px), calc(-50% - 300px));
}

.element8 {
  /* position: absolute;
  top: 800px;
  left: 1400px; */
  width: 360px;
  height: 360px;
  transform: translate(calc(-50% + 470px), calc(-50% + 350px));
}

.element9 {
  background: #b7f2ef;
  width: 450px;
  height: 450px;
  transform: translate(calc(-50% + 900px), calc(-50% + 250px));
}

.element10 {
  background: #7cd1cc;
  width: 60px;
  height: 60px;
  transform: translate(calc(-50% + 600px), calc(-50% + 50px));
}

.element11 {
  background: #b7f2ef;
  width: 115px;
  height: 115px;
  transform: translate(calc(-50% + 850px), calc(-50% - 150px));
}

.element12 {
  background: #b7f2ef;
  width: 60px;
  height: 60px;
  transform: translate(calc(-50% + 200px), calc(-50% - 420px));
}

/* ------------------------------------ */

.about {
  width: 100%;
  position: relative;
}

.about_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.about_info {
  position: relative;
  padding: 200px 0;
}

.title {
  width: 100%;
  text-align: center;
  font-family: VAG World;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  color: #fff;
  text-transform: uppercase;
}

.blueTitle {
  color: #7cd1cc;
}

.about_info__block {
  display: flex;
  justify-content: space-between;
}

.about_info__block___text {
  font-family: Century Gothic;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #fff;
}

.about_info__block___img {
  border-radius: 50%;
  overflow: hidden;
}

.about_info__block___img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text_1 {
  text-align: left;
  width: 700px;
  margin-left: 280px;
  margin-top: 130px;
}

.img_1 {
  width: 675px;
  height: 675px;
}

.block_2 {
  margin-top: -220px;
}

.text_2 {
  text-align: left;
  width: 820px;
  margin-right: 500px;
  margin-top: 200px;
  order: 2;
  color: #005a5e;
}

.img_2 {
  width: 575px;
  height: 575px;
  order: 1;
  margin-left: -60px;
}

.text_3 {
  width: 540px;
  color: #005a5e;
  margin-left: -380px;
  margin-top: 50px;
}

.img_3 {
  width: 520px;
  height: 530px;
  margin-left: 10px;
  margin-top: 150px;
}

.img_4 {
  width: 670px;
  height: 670px;
  margin-top: -90px;
}

/* ------------------------------------ */

.infoBlock {
  padding-top: 80px;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 65px;
}

.infoBlock_block {
  width: 33%;
  height: 560px;
  border-radius: 50px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.infoBlock_block__bottom {
  width: 100%;
  height: calc(100% - 290px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #fff;
  font-family: Century Gothic;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.infoBlock_block__top {
  width: 100%;
  height: 290px;
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: VAG World;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  transition: all 0.3s ease-in-out;
}

.infoBlock_block__top svg path {
  transition: all 0.3s ease-in-out;
}

.hoverBlock_1 {
  color: rgba(124, 209, 204, 1);
  background-color: rgba(124, 209, 204, 1);
}

.hoverBlock_1 .infoBlock_block__top {
  border: 3px solid rgba(124, 209, 204, 1);
}

.hoverBlock_1:hover {
  background-color: rgba(24, 209, 204, 1);
}

.hoverBlock_1:hover .infoBlock_block__top {
  border: 3px solid rgba(24, 209, 204, 1);
  color: rgba(24, 209, 204, 1);
}

.hoverBlock_1:hover .infoBlock_block__top svg .fillChange {
  fill: rgba(24, 209, 204, 1);
}

.hoverBlock_2 {
  color: rgba(90, 166, 226, 1);
  background-color: rgba(90, 166, 226, 1);
}

.hoverBlock_2 .infoBlock_block__top {
  border: 3px solid rgba(90, 166, 226, 1);
}

.hoverBlock_2:hover {
  background-color: rgba(0, 166, 226, 1);
}

.hoverBlock_2:hover .infoBlock_block__top {
  border: 3px solid rgba(0, 166, 226, 1);
  color: rgba(0, 166, 226, 1);
}

.hoverBlock_2:hover .infoBlock_block__top svg .fillChange {
  fill: rgba(0, 166, 226, 1);
}

.hoverBlock_3 {
  color: rgba(124, 209, 204, 1);
  background-color: rgba(124, 209, 204, 1);
}

.hoverBlock_3 .infoBlock_block__top {
  border: 3px solid rgba(124, 209, 204, 1);
}

.hoverBlock_3:hover {
  background-color: rgba(24, 209, 204, 1);
}

.hoverBlock_3:hover .infoBlock_block__top {
  border: 3px solid rgba(24, 209, 204, 1);
  color: rgba(24, 209, 204, 1);
}

.hoverBlock_3:hover .infoBlock_block__top svg .fillChange {
  fill: rgba(24, 209, 204, 1);
}

/* ------------------------------------------------ */

.informationBlock {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.trainingInfo {
  width: 800px;
  padding: 40px;
  background: #b7f2ef;
  font-family: Century Gothic;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #005a5e;
  border-radius: 50px;
  margin: 0 auto;
}

.trainingBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 55px;
}

.trainingBlock_left {
  width: 50%;
  font-family: Century Gothic;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #005a5e;
}

.trainingBlock_right {
  width: 50%;
  height: 420px;
  overflow: hidden;
  border-radius: 50px;
}

.trainingBlock_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trainingMomInfo {
  width: 80%;
  padding: 40px;
  border-radius: 50px;
  border: 2px solid #005a5e;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}

.trainingMomInfo_title {
  font-family: VAG World;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #005a5e;
}

.trainingMomInfo_desc {
  font-family: Century Gothic;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: justify;
  color: #005a5e;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-indent: 40px;
}

/* ------------------------------------------- */

.accordion {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.accordion-item {
  width: 100%;
  background: #7cd1cc;
  border-radius: 50px;
  overflow: hidden;
}

.accordion-button {
  cursor: pointer;
  background: #7cd1cc;
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 70px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #fff;
}

.accordion-icon img {
  transition: all 0.3s ease-in-out;
}

.accordion-content {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #fff;
  width: 95%;
  padding-left: 70px;
  padding-right: 70px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.accordion-content p {
  padding-bottom: 20px;
}

.accordion-content .line {
  width: 100%;
  border-top: 1px solid #fff;
  padding-bottom: 40px;
}

.accordion-button[aria-expanded="true"] + .accordion-content {
  max-height: 1000px;
}

/* ------------------------------------- */

.bg_color_green {
  background: linear-gradient(to right, #7cd1cc, #00d3de);
}

.bg_color_blue {
  background: #59a6e2;
}

.bg_color_gardientGreen {
  background: linear-gradient(to right, #008799, #00d3de);
}

.blog {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  border-radius: 50px;
  overflow: hidden;
  color: #fff;
  max-height: 580px;
  transition: max-height 0.5s ease-in-out;
}

.blog_title {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}

.blog_title__name {
  font-family: Century Gothic;
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}

#blog_element__4 .blog_title__name {
  width: 1300px;
}

#blog_element__4 .blog_info__text {
  padding-top: 150px;
}

.blog_title__img {
  width: 100%;
}

.blog_title__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog_info {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

.blog_info__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: Century Gothic;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  overflow: hidden;
  max-height: 360px;
  transition: max-height 0.5s ease-in-out;
}

.fullText {
  height: auto;
}

.blog_info__text p {
  display: flex;
  gap: 10px;
  align-items: center;
}

.blog_info__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.blog_info__btns___button {
  width: 50%;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: Century Gothic;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  text-align: center;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
}

.blog_info__btns___button_nonChange {
  width: 50%;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: Century Gothic;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  text-align: center;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
}

.fdc {
  flex-direction: column;
  gap: 10px;
}

.order_normal .blog_title,
.order_normal .blog_title {
  order: 1;
}

.order_normal .blog_info,
.order_normal .blog_info {
  order: 2;
}

.order_rotate .blog_info,
.order_rotate .blog_info {
  order: 1;
}

.order_rotate .blog_title,
.order_rotate .blog_title {
  order: 2;
}

/* ---------------------------------- */

.mainSlider {
  width: 100%;
  background-color: #7cd1cccc;
  padding: 55px 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
  position: relative;
}

.mainSlider_slider {
  height: 380px;
}

swiper-container {
  width: 100%;
  height: 100%;
  --swiper-navigation-color: white;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  width: 33%;
}

.video_frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  height: 100%;
  width: 100%;
}


video {
  min-width: 480px;
  width: 100%;
  height: auto;
}

.mainSlider swiper-slide {
  transform: scale(0.8);
}

.mainSlider .swiper-slide-next {
  transform: scale(1);
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----------------------------------- */

/* .gallery {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
  margin-top: 80px;
} */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
  margin-top: 80px;
}

.gallery_column {
  width: 50%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.gallery_column img {
  cursor: pointer;
}

.fullWidth {
  /* width: 100%; */
  width: 48.35%;
  height: 380px;
  object-fit: cover;
  border-radius: 50px;
  overflow: hidden;
}

.halfWidth {
  /* width: 47%; */
  width: 22.5%;
  height: 380px;
  object-fit: cover;
  border-radius: 50px;
  overflow: hidden;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  visibility: hidden;
}

.fullscreen-bg img {
  max-width: 90%;
  max-height: 90%;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.body-no-scroll {
  overflow: hidden;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 20px;
  font-size: 36px;
  color: white;
  background-color: #7cd1cccc;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.close-btn:hover {
  background-color: #7cd1cc;
}

/* ------------------------------ */

.colorFullBlock {
  width: 100%;
  background-color: #7cd1cc;
  padding: 80px 0;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.price_block {
  padding: 50px;
  box-shadow: 0px 4px 35.4px 0px #00000040;
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.price_block__title {
  width: 100%;
  font-family: VAG World;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  color: #005a5e;
}

.price_block__info {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.price_block__info___column {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.price_block__info___column____element {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.price_block__info___column____element_____title {
  font-family: VAG World;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  color: #7cd1cc;
}

.price_block__info___column____element_____price {
  background: #b7f2ef;
  width: 100%;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Century Gothic;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  border-radius: 20px;
}

.price_block__info___column____element_____abonements {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.price_block__info___column____element_____abonements______item {
  width: 48%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #949494;
  border-radius: 30px;
  gap: 10px;
}

.price_block__info___column____element_____abonements______item_title {
  font-family: Century Gothic;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000;
}

.price_block__info___column____element_____abonements______item_lessons {
  font-family: Century Gothic;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #00d3de;
}

.price_block__info___column____element_____abonements______item_time {
  font-family: Century Gothic;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.price_block__info___column____element_____abonements______item_price {
  width: 100%;
  background-color: #b7f2ef;
  padding: 20px;
  border-radius: 20px;
  font-family: Century Gothic;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galocamera {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.galocamera_title {
  width: 100%;
  background: #b7f2ef;
  font-family: Century Gothic;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}

.galocamera_info {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  flex-wrap: wrap;
}

.galocamera_info__item {
  width: 48%;
  border-radius: 20px;
  border: 1px solid #949494;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.galocamera_info__item____title {
  font-family: Century Gothic;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.galocamera_info__item____price {
  font-family: Century Gothic;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #7cd1cc;
}

.galocamera_info__item____name {
  font-family: Century Gothic;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #005a5e;
}

.galocamera_info__item____seance {
  width: 100%;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Century Gothic;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  background-color: #b7f2ef;
  padding: 10px 30px;
}

/* -------------------------------------- */

.feedback {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.feedback_slider {
  padding: 50px;
  background: #b7f2ef;
  border-radius: 50px;
}

.feedback_slider swiper-container {
  --swiper-navigation-color: #b7f2ef;
  border-radius: 30px;
  overflow: hidden;
}

.feedback_slider swiper-slide {
  width: 100%;
  background-color: #fff;
}

.feedback_slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* padding: 40px; */
  height: 100%;
  width: 32%;
}

.feedback_slide__img {
  display: flex;
  align-items: center;
  width: 200px;
  min-height: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.feedback_slide__img img {
  height: 100%;
}

.feedback_slide__title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.feedback_slide__text p {
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  text-indent: 30px;
}

/* ------------------------------------------- */

.form {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.form_block {
  background: #b7f2ef;
  border-radius: 50px;
  width: 700px;
  padding: 75px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form_block > input {
  width: 100%;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  color: #005a5e;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
}

.form_block > input::placeholder {
  color: #005a5e;
  font-size: 16px;
}

.form_block textarea {
  padding: 20px;
  outline: none;
  background-color: #fff;
  border-radius: 30px;
  resize: vertical;
  border: none;
  min-height: 300px;
}

.form_block textarea::placeholder {
  color: #005a5e;
  font-size: 16px;
}

.form_block label {
  font-family: Century Gothic;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  align-items: flex-start;
  gap: 25px;
  color: #005a5e;
}

.form_block label input {
  width: 27px;
  height: 27px;
}

.form_block label a {
  font-family: Century Gothic;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #00d3de;
}

.form_block button {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50px;
  text-transform: uppercase;
  font-family: VAG World;
  font-size: 20px;
  font-weight: 700;
  line-height: 40.08px;
  color: #7cd1cc;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form_block button:hover {
  background-color: #7cd1cc;
  color: #fff;
}

/* -------------------------------------- */

.contacts {
  display: flex;
  gap: 80px;
  flex-direction: column;
}

.contacts_block {
  padding: 60px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right top, #00d3de, #00d3de2c);
  border-radius: 50px;
  font-family: VAG World;
  font-size: 32px;
  font-weight: 700;
  line-height: 64.13px;
  gap: 45px;
  color: #fff;
  text-transform: uppercase;
}

.contacts_block img {
  width: 86px;
  height: 86px;
}

/* ----------------------------------------------- */

footer {
  margin-top: 80px;
  background: #7cd1cc;
  padding: 50px 0;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_line__element {
  padding: 15px 30px 10px;
  text-transform: uppercase;
  border: 1px solid #fff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: VAG World;
  font-size: 20px;
  font-weight: 700;
  line-height: 40.08px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.footer_line__element:hover {
  background-color: #fff;
  color: #7cd1cc;
}

.footer_links {
  display: flex;
  align-items: center;
  gap: 70px;
}

.footer_links__element {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: #fff;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  padding-bottom: 5px;
}

.footer_links__element:hover {
  border-bottom: 1px solid #fff;
}

/* ---------------------------------------- */

/* Стили для меню */
.menu {
  position: fixed;
  top: 100px;
  right: 180px;
  background: #fff;
  box-shadow: 0 0 10px #00000040;
  z-index: 9999;
  transition: right 0.3s;
  background: #7cd1cc;
  border-radius: 30px;
  padding: 20px 0;
  overflow: hidden;
  display: none;
  width: 465px;
}

.menu a {
  display: flex;
  color: #fff;
  font-family: VAG World;
  font-size: 24px;
  font-weight: 700;
  padding: 5px 50px;
  transition: all 0.3 ease-in-out;
}

.menu a:hover {
  background-color: #ffffff71;
}

.show {
  right: 180px;
}

#closeButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* ----------------------------------------- */

.franchise_data {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 80px;
}

.franchise_header {
  margin-top: 50px;
}

.franchise_header .header_bottom__right {
  width: 100%;
}

.franchise_header .header_bottom__right___title {
  width: 60%;
}

.franchise_header__info {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.franchise_header__info____list {
  font-family: Century Gothic;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
}

.franchise_header__info____list p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.franchise_information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.franchise_information__item {
  width: 330px;
  height: 330px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #fff;
  background: linear-gradient(to right top, #00d3de, #7cd1cc);
  font-family: Century Gothic;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  padding: 40px;
}

/* ---------------------------------------- */

.offer {
  width: 100%;
  background: linear-gradient(to right top, #00d3de, #7cd1cc);
  padding: 60px 0;
  position: relative;
  overflow: hidden;
}

.upLayers {
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.offer_title {
  font-family: Century Gothic;
  font-size: 32px;
  font-weight: 800;
  line-height: 48px;
  text-align: center;
  color: #fff;
  width: 40%;
  text-transform: uppercase;
}

#animatedBlock {
  transition: transform 1s;
  transform: translateX(-100%);
}

.offer_moveElements__item {
  width: 1251px;
  height: 360px;
  padding: 57px 150px;
  background-image: url("../refs/bg_left.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Century Gothic;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  gap: 25px;
}

.itemMove_1 {
  transform: translateX(-1200px);
  z-index: 1;
  position: relative;
  transition: transform 0.5s ease-in;
}

.is_visible__itemMove_1 {
  opacity: 1;
  transform: translateX(-176px);
}

.itemMove_2 {
  transform: translateX(-1200px);
  z-index: 2;
  margin-top: -120px;
  position: relative;
  transition: transform 0.7s ease-in;
}

.is_visible__itemMove_2 {
  opacity: 1;
  transform: translateX(-88px);
}

.itemMove_3 {
  transform: translateX(-1200px);
  z-index: 3;
  margin-top: -120px;
  position: relative;
  transition: transform 1s ease-in;
}

.is_visible__itemMove_3 {
  opacity: 1;
  transform: translateX(0);
}

.offer_moveElements__item___title {
  width: 70%;
  text-align: right;
}

.rightSide {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rightSide .offer_moveElements__item {
  justify-content: flex-start;
  background-image: url("../refs/bg_right.svg");
}

.rightSide .offer_moveElements__item___title {
  text-align: left;
}

.rightSide_itemMove_1 {
  transform: translateX(1200px);
  z-index: 1;
  position: relative;
  transition: transform 0.5s ease-in;
}

.is_visible__rightSide_itemMove_1 {
  opacity: 1;
  transform: translateX(176px);
}

.rightSide_itemMove_2 {
  transform: translateX(1200px);
  z-index: 2;
  margin-top: -120px;
  position: relative;
  transition: transform 0.7s ease-in;
}

.is_visible__rightSide_itemMove_2 {
  opacity: 1;
  transform: translateX(88px);
}

.rightSide_itemMove_3 {
  transform: translateX(1200px);
  z-index: 3;
  margin-top: -120px;
  position: relative;
  transition: transform 1s ease-in;
}

.is_visible__rightSide_itemMove_3 {
  opacity: 1;
  transform: translateX(0);
}

.bubble_1 {
  position: absolute;
  top: 0;
  right: 0;
}

.bubble_2 {
  position: absolute;
  top: 790px;
  left: 0;
}

.bubble_3 {
  position: absolute;
  bottom: 0px;
  right: 0;
}

.bubble_circle_1 {
  width: 478px;
  height: 478px;
  border-radius: 50%;
  background: #b7f2ef54;
  position: absolute;
  top: 130px;
  right: -237px;
}

.bubble_circle_2 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #b7f2ef;
  position: absolute;
  top: 200px;
  right: 440px;
}

.bubble_circle_3 {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  background: #b7f2ef;
  position: absolute;
  top: 640px;
  right: 360px;
}

.bubble_circle_4 {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: #b7f2ef;
  position: absolute;
  top: 718px;
  right: -10px;
}

.bubble_circle_5 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #b7f2ef;
  position: absolute;
  top: 1145px;
  left: 346px;
}

.bubble_circle_6 {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  background: #b7f2ef;
  position: absolute;
  top: 1395px;
  left: 178px;
}

.bubble_circle_7 {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  background: #b7f2ef;
  position: absolute;
  top: 1104px;
  left: 560px;
}

.bubble_circle_8 {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  background: #b7f2ef;
  position: absolute;
  bottom: 350px;
  right: 616px;
}

.bubble_circle_9 {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: #b7f2efb2;
  position: absolute;
  bottom: 482px;
  right: -62px;
}

.bubble_circle_10 {
  width: 640px;
  height: 640px;
  border-radius: 50%;
  background: #b7f2ef6b;
  position: absolute;
  bottom: -341px;
  right: 71px;
}

/* ----------------------------------- */

.team {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.team_desc {
  font-family: Century Gothic;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #005a5e;
  width: 70%;
  margin: 0 auto;
}

.team_profit {
  background: linear-gradient(to right top, #00d3de, #3fb1a9);
  width: 100%;
  height: 330px;
  padding: 70px 150px;
  font-family: Century Gothic;
  font-size: 64px;
  font-weight: 800;
  line-height: 96px;
  text-align: center;
  color: #fff;
  border-radius: 50px;
}

.team_table {
  display: flex;
  flex-direction: column;
  border: 2px solid #7cd1cc;
  border-radius: 50px;
  padding: 50px;
  gap: 30px;
}

.team_table__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  height: 60px;
}

.team_table__row___item {
  font-family: Century Gothic;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #005a5e;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moreWidth {
  width: 300px;
  text-align: left;
  justify-content: flex-start;
}

/* -------------------------------------- */

.team_subtitle {
  font-family: Century Gothic;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  text-align: center;
  color: #949494;
  width: 50%;
  margin: 0 auto;
  text-transform: uppercase;
}

.team_decision {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team_decision__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #3fb1a9;
  padding: 25px;
  color: #fff;
  font-family: Century Gothic;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  width: 30%;
  height: 130px;
  gap: 20px;
  text-align: center;
}

.team_decision__item span {
  font-family: Century Gothic;
  font-size: 80px;
  font-weight: 800;
  text-align: center;
}

/* --------------------------------- */

.author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.author_left {
  width: 40%;
  height: 700px;
  border-radius: 50px;
  overflow: hidden;
}

.author_left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author_right {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.author_right__title {
  font-family: Century Gothic;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #005a5e;
}

.author_right__name {
  color: #fff;
  background-color: #3fb1a9;
  padding: 20px 0 20px 50px;
  width: calc(100% + 50px);
  font-family: Century Gothic;
  font-size: 32px;
  font-weight: 800;
  line-height: 48px;
  margin-left: -50px;
  text-transform: uppercase;
  border-radius: 0 30px 30px 0;
}

.author_right__text {
  font-family: Century Gothic;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: justify;
  color: #005a5e;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* -------------------------------------- */

.help_text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.help_width {
  width: 40%;
}

.help {
  width: 100%;
  padding: 150px 0 300px 0;
  position: relative;
}

.img_bubble {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
}

.img_bubble img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bubble_img_1 {
  width: 325px;
  height: 325px;
  left: 153px;
  top: 50px;
}

.bubble_img_2 {
  width: 240px;
  height: 240px;
  bottom: 0;
  left: 530px;
}

.bubble_img_3 {
  width: 260px;
  height: 260px;
  bottom: 30px;
  right: 420px;
}

.bubble_img_4 {
  width: 340px;
  height: 340px;
  right: 153px;
  top: 0;
}

.bubble_color_1 {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  background-color: #7cd1cc;
  width: 60px;
  height: 60px;
  left: -30px;
  top: 50px;
}

.bubble_color_2 {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  background-color: #b7f2ef;
  width: 60px;
  height: 60px;
  left: 550px;
  top: 50px;
}

.bubble_color_3 {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  background-color: #b7f2ef;
  width: 80px;
  height: 80px;
  right: 550px;
  top: 20px;
}

.bubble_color_4 {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  background-color: #b7f2ef;
  width: 240px;
  height: 240px;
  left: -120px;
  top: 340px;
}

.bubble_color_5 {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  background-color: #b7f2ef;
  width: 115px;
  height: 115px;
  left: 250px;
  top: 520px;
}

.bubble_color_6 {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  background-color: #b7f2ef;
  width: 240px;
  height: 240px;
  right: -120px;
  top: 340px;
}

/* ------------------------------ */

.anketa_header {
  margin-top: 120px;
}

.anketa_header__desc {
  font-family: Century Gothic;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  width: 100%;
  color: #fff;
}

.anketa {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 30px;
}

.anketa_item {
  padding: 60px;
  border-radius: 50px;
  border: 1px solid #005a5e;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.anketa_item label {
  font-family: Century Gothic;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #005a5e;
}

.anketa_item label span {
  color: #bb0000;
}

.anketa_item input {
  font-family: Century Gothic;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: #000;
  padding: 20px 10px;
  border: none;
  border-bottom: 1px solid #949494;
  outline: none;
}

.radioCheck {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.radioCheck input {
  width: 20px;
  height: 20px;
}

.anketa button {
  width: 450px;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-family: Century Gothic;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.43px;
  color: #fff;
  border-radius: 50px;
  background-color: #7cd1cc;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.animateButton {
  cursor: pointer;
  position: relative;
  animation: float 1.5s ease-in-out infinite paused;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

/* -------------------------------------------------------------------- */

.blogSection {
  display: flex;
  flex-direction: column;
  gap: 80px;
}


.modal {
  display: none; /* Скрыть модальное окно по умолчанию */
  position: fixed; /* Фиксированное положение */
  z-index: 1; /* На верхнем слое */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Прокручивать при необходимости */
  background-color: rgb(0,0,0); /* Цвет фона */
  background-color: rgba(0,0,0,0.4); /* Цвет фона с прозрачностью */
}

.modal-content {
  display: flex;
  background-color: #fefefe;
  margin: 15% auto; /* 15% от верхнего края страницы */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ширина контента */
}

.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #292929d0;
  text-decoration: none;
  cursor: pointer;
}
